{{- /* Checks if running interactively, which is not the case for GitHub Codespaces */ -}}
{{- $interactive := stdinIsATTY -}}
diff:
  exclude:
  - scripts
encryption: "gpg"
gpg:
  recipient: "257DACDD98A2CC727CED51D2644918BD6078344A"

{{- /* Check installation scope */ -}}
{{- $scope := "personal" -}}
{{- if $interactive -}}
{{-   $scope = promptString "scope [ personal | work ]" $scope -}}
{{- end }}

{{- /* Check installation target */ -}}
{{- $target := "cli" -}}
{{- if $interactive -}}
{{-   $target = promptString "target [ cli | gui ]" $target -}}
{{- end }}

sourceDir: {{ .chezmoi.sourceDir | quote }}

data:
  dev:
    container:
      k8s: true
      runner: true
    lang:
      go: false
      javascript: false
      rust: false
  fonts: true
  scope: {{ $scope | quote }}
  target: {{ $target | quote }}
