[user]
	email = diogo.filipe.tomas.guerra@cern.ch
	name = Diogo Guerra
	signingkey = 
[color]
  # Enable colors in color-supporting terminals
  ui = auto
[alias]
	c = commit -s
[push]
	default = matching
[diff]
[gitreview]
	username = dioguerra
