[alias]
  c = commit -s
[color]
  ui = auto
[commit]
  gpgsign = true
[diff]
[format]
  signOff = true
[gitreview]
  username = dioguerra
[init]
  defaultBranch = main
[push]
  default = matching
[url "ssh://git@github.com/"]
  pushInsteadOf = https://github.com/
[user]
  {{- if eq .scope "personal" }}
  email = dy090.guerra@gmail.com
  signingKey = 257DACDD98A2CC727CED51D2644918BD6078344A
  {{- end }}
  {{- if eq .scope "work" }}
  email = diogo.guerra@northerndata.de
  signingKey = 0777684DF9581C40F1DBDAC8EC171F0B9AD26329
  {{- end }}
  name = Diogo Guerra
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
