#!/bin/bash

# NerdFonts
{{- if .fonts }}
# Fetch nerdfonts latest download links
curl -sSL https://www.nerdfonts.com/font-downloads |
  grep -i 'nerd-fonts.*download' |
  sed -E 's/.*href="(.+\.zip)".*$/\1/g' |
  sort | uniq > /tmp/nerdfonts.txt

# Download fonts to
rm -rf /tmp/nerdfonts
cat /tmp/nerdfonts.txt  | xargs -L1 wget -q --show-progress --directory-prefix /tmp/nerdfonts

# Extract and Move fonts to /usr/share/fonts
ls /tmp/nerdfonts | xargs -L1 -I{} sudo unzip -Uo /tmp/nerdfonts/{} -d /usr/share/fonts/

# Update font cache
sudo fc-cache -fv
{{- end }}
